.courses-about {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.courses-about-data {
    width: 80%;
    z-index: 2;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hr-cursos-about {
  border: #437f12 1px solid;
  border-radius: 5px;
}
.cont-cur-all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-cursos-pagina {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-cursos-pagina-1 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cabeza-cur {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(
    0.25turn,
    rgb(16 55 62 / 100%),
    #5eb319 22%,
    #5eb319 72%,
    #10373e
  );
  border-radius: 10px;
  transition: all 0.2s ease;
  box-shadow: 0px 3px 11px rgb(0 0 0 / 50%);
}
.cabeza-cur:hover {
  box-shadow: -1px 2px 8px 1px #437f12;
}
/* rgb(94 179 25) */
.cabeza-cur h1 {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 20px 30px;
  text-transform: capitalize;
  color: #fff;
}
.cabeza-cur-ficha {
  border: 1px solid #437f12;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  width: 200px;
  padding: 1rem;
}
.cabeza-cur-ficha h3 p {
  margin: 0 0 2px 0;
}
.cabeza-cur-ficha h3 {
  margin: 8px 0 0 0;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #5eb319;
  color: white;
  box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 50%);
}

.informacion-cur {
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  margin: 20px 10px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.informacion-cur:hover {
  box-shadow: 0px 1px 11px rgb(0 0 0 / 50%);
  /* coment apar */
}

.informacion-cur h3 {
  margin: 5px;
  text-transform: capitalize;
}
.informacion-cur p {
  margin: 10px 20px;
}
.cont-informacion-cur {
  background-color: darkblue;
  display: flex;
}
/* tiempo */
.tiempo-cur {
  /* border: 2px solid #437f12; */
  background-color: #fff;
  padding: 10px;
  margin: 20px 10px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.time-cur {
  background-color: #fff;
  padding: 10px;
  margin: 5px 10px;
  display: flex;
  max-width: 300px;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.time-cur h3 {
  /* letra */
  font-size: 25px;
  color: #5eb319;
}
.tiempo-cur p {
  margin: 2px;
}
/* inscripcion */
.inscripcion-cur {
  /* #063973
   #006666
   #009999 */
  background: linear-gradient(#006666, #5eb319);

  padding: 10px;
  margin: 10px 10px;
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.inscripcion-cur p {
  margin: 2.5px;
  color: #fff;
}
.inscripcion-cur h3 {
  margin: 5px;
  color: #063973;
  /* color: #fff; */
}
.contenedor-cursos-pagina-2 {
  margin: 20px 0;
  display: flex;
  max-width: 500px;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  background: white;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.contenedor-cursos-pagina-2:hover {
  box-shadow: 0px 1px 11px rgb(0 0 0 / 50%);
}
/* otro tipo de informacion */
.otro-tipo-cur {
  border: 2px solid #437f12;
  background-color: #fff;
  padding: 10px;
  margin: 10px 10px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.otro-tipo-cur p {
  margin: 2.5px;
  padding: 0px 10px;
}
.otro-tipo-cur h3 {
  margin: 5px;
  text-transform: capitalize;
}
.otro-tipo-cur hr {
  border: #437f12 1px solid;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  height: auto;
}

/* modalidad */
.modalidad-cur {
  padding: 10px;
  margin: 10px 10px;
  max-width: 300px;
  min-width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
  background: linear-gradient(#ff6600, #ffac0d);
}
/* cont 3 */
.contenedor-cursos-pagina-3 {
  margin: 0 0 20px 0;
  display: flex;
  max-width: 1000px;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  background: white;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}

/* cont-g-c */
.cont-g-c {
  display: flex;
  max-width: 1000px;
  width: 100%;
  min-width: 300px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* inscribirse */
.inscribirse-cur button {
  width: auto;
  height: 30px;
  border: 2px solid #1f4515;
  border-radius: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4dad33;
  font-size: 16px;
  transition: 0.5s ease;
  cursor: pointer;
}
.inscribirse-cur:hover button {
  border: 2px solid #4dad33;
  background-color: #fff;
  box-shadow: 0 0px 10px 8px rgb(34 221 28 / 20%);
}
.inscribirse-cur a {
  font-size: 25px;
  text-decoration: none;
  font-weight: initial;
  color: #fff;
  cursor: pointer;
}
.inscribirse-cur:hover a {
  color: #1f4515;
}
/* botones */
.guia-cur button {
  width: auto;
  height: 30px;
  border: 2px solid #1f4515;
  border-radius: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 16px;
  /* transition: 0.5s ease; */
  cursor: pointer;
}
.guia-cur a {
  font-size: 16px;
  text-decoration: none;
  font-weight: initial;
  color: #4dad33;
  cursor: pointer;
}
/* hr */
.contenedor-cursos-pagina-3 hr {
  border: #437f12 1px solid;
  border-radius: 5px;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 10px 0;
}
.img-programa-cursos {
  width: 100%;
  max-width: 500px;
  box-shadow: 1px 4px 4px 2px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(#ff6600, #5eb319);
}
.img-programa-cursos-A {
  width: 100%;
  max-width: 200px;
  height: 200px;
  box-shadow: 0 0px 6px 2px rgb(0 0 0 / 40%);
  border-radius: 50%;
  display: flex;
  background: linear-gradient(#5eb31950, #ffac0d50);
}

/* redes all */
.imagen-redes-cursos-all img {
  width: 35px;
  height: auto;
  margin: 5px;
  background-color: #4dad33;
  border-radius: 50%;
  cursor: pointer;
}
.compartir-cur {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}