nav,
.navSF {
    z-index: 3;
    top: 0;
    position: fixed;
    width: 100%;
    transition: 0.5s all ease;
}

.navSF-Base {
    background: #52952e;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-areas: "n01 n02 n02 n03";
    align-items: center;
}

#logo-Nav {
    cursor: pointer;
}

.navSF-Base-Logo,
.navSF-Base-Search,
.navSF-Base-User,
.navSF-Base-Search-container,
.FormSearch,
#btn-searcher {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center
}

.FormSearch {
    width: 95%;
}

.navSF-Base-Logo {
    grid-area: n01;
}

.navSF-Base-Search {
    height: 85%;
    grid-area: n02;
}

.navSF-Base-User {
    width: auto;
    grid-area: n03;
}

/*---------Search Form----------*/

.navSF-Base-Search-container {
    width: 40%;
    background: #4dad33;
    border-radius: 10px;
    outline: 3px #282828 solid;
}

.navSF-Base-Search-container:hover {
    outline: 3px #000000 solid;
}

#Searcher {
    width: 100%;
    height: 30px;
    cursor: text;
    border: none;
    background: transparent;
    padding: 0 0 0 20px;
    outline: none;
}

#labelSearch {
    width: 0;
    height: 0;
    color: #00000000;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

/*---------Options Form---------*/

.navSF-Opt {
    display: flex;
    justify-content: center;
}

.navSF-Options {
    display: block;
    border-radius: 10px;
    border: solid 3px #4b7f30;
    font-size: x-large;
    position: absolute;
    top: 110%;
    width: 90%;
    background: #4dad33;
}

.navSF-Options-selects {
    padding: 4px 0;
}

.navSF-Options-selects ul li {
    margin: 5px auto;
}

.navSF-Options-selects ul li a {
    padding: 10px;
}

.navSF-Options-selects ul li:hover,
.navSF-Options-selects ul li a:hover {
    border-radius: 10px;
    background-color: #52952e;
    transition: all 0.2s;
}

.navSF-Options-selects ul li a {
    text-decoration: none;
    color: #fff;
}

.navSF-Options-selects ul {
    margin: 5px 0px 5px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}