nav,
.navSF {
    z-index: 3;
    top: 0;
    position: fixed;
    width: 100%;
    transition: 0.5s all ease;
}

.navSF-Base {
    padding: 10px 10px;
    background: #4dad33;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1.5px #4b7f30;
}

.navSF-Base-Logo img {
    width: 140px;
}

.navSF-Base-Logo,
.navSF-Base-Search,
.navSF-Base-User,
.navSF-Base-User-Da {
    display: flex;
    text-align: center;
    align-items: center
}

.FormSearch {
    width: 95%;
}

.navSF-User-Sec,
.navSF-Logo-Sec {
    width: 47%;
}

.navSF-Base-Logo {
    margin: 0 0 0 15%;
    justify-content: flex-start;
}

.navSF-Base-User {
    margin: 0 15% 0 0;
    justify-content: flex-end;
}

.User-Image-Btn:hover {
    filter: brightness(0.5);
}

.navSF-Base-User-Data, .navSF-Base-User-Data2 {
    margin: 0 15px 0 0;
    color: #fff;
}

.navSF-Base-User-Data2 {
    display: none;
}

button {
    border: none;
    background: transparent;
}

/*---------Options Form---------*/

.navSF-Opt {
    display: flex;
    justify-content: center;
}

.navSF-Options {
    display: block;
    border-radius: 10px;
    border: solid 1.5px #4b7f30;
    font-size: x-large;
    position: absolute;
    top: 110%;
    width: 90%;
    background: #4dad33;
}

.navSF-Options-selects {
    padding: 4px 0;
}

.navSF-Options-selects ul {
    display: flex;
}

.navSF-Options-selects ul li {
    margin: 5px auto;
}

.navSF-Options-selects ul li a {
    padding: 10px;
}

.navSF-Options-selects ul li:hover,
.navSF-Options-selects ul li a:hover {
    border-radius: 10px;
    background-color: #52952e;
    transition: all 0.2s;
}

.navSF-Options-selects ul li a {
    text-decoration: none;
    color: #fff;
}

.navSF-Options-selects ul {
    margin: 5px 0px 5px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navSF-Base-User-Data2 div{
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

@media screen and (max-width: 680px) {

    .navSF-Options-selects ul {
        flex-direction: column;
    }

    .navSF-Options-selects ul li {
        padding: 10px 0;
        width: 90%;
        margin: 15px auto;
    }

}

@media screen and (max-width: 420px) {

    .navSF-Base-User-Data h3 {
        display: none;
    }

    .navSF-Base-User-Data {
        display: none;
    }

    .navSF-Base-User-Data2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}