.contenedor-cursos h2,
h4 {
  color: #000000;
}
.contenedor-cursos p {
  color: #10373e;
}
.contenedor-cursos {
  width: 95%;
  margin: 250px auto 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}
.contenedor-card-cursos {
  overflow: hidden;
  display: flex;
  margin: 10px;
  width: 500px;
  height: auto;
  flex-direction: row;
  max-height: 500px;
  min-height: 350px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
  transition: all 0.2s ease;
}
.contenedor-card-cursos:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.4);
}
.header-cursos {
  width: 280px;
  border-right: 1px solid #10373e;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.descripcion-cursos {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  width: 50%;
  border-radius: 6px;
}
.descripcion-cursos,
.header-cursos {
  padding: 10px;
  text-align: center;
}

.header-cursos a {
  position: relative;
  display: block;
}
.header-cursos img {
  border-radius: 0%;
}
.red {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* color */
  box-shadow: 0 0px 10px 6px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  transition: 0.2s ease;
  cursor: auto;
}

.red:hover {
  box-shadow: 0 0px 20px 6px rgba(12, 129, 6, 0.4);
}
.red img {
  width: 200px;
}
.header-cursos h2 {
  font-size: 22px;
  margin: 10px 0;
  color: #4dad33;
  transition: 0.2s;
  box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0);
  cursor: default;
}
.header-cursos:hover h2 {
  color: #217a89;
  /* background-color: rgba(21, 155, 30, 0.4); */
}
.header-cursos h4 {
  margin-bottom: 30px;
}
.descripcion-cursos {
  position: relative;
}
.txt {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}
.txt p,
h4 {
  margin: 2px;
  cursor: default;
}
.mas-informacion {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.mas-informacion a {
  text-decoration: none;
  transition: 0.2s ease;
}
.mas-informacion button {
  color: #fff;
  width: auto;
  height: auto;
  border: 2px solid #1f4515;
  border-radius: 8px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4dad33;
  font-size: 16px;
  transition: 0.2s ease;
}

.mas-informacion:hover button {
  color: #1f4515;
  background-color: #fff;
  box-shadow: 0 0px 10px 8px rgba(34, 221, 28, 0.2);
}

.crear-cursos h2 {
  color: #fff;
}

.crear-cursos button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  padding: 10px 30px;
  border-radius: 6px;
  bottom: 12%;
  right: 5%;
  background: #217a89;
  position: fixed;
}

.crear-cursos:hover h2 {
  color: #1f4515;
}

.crear-cursos:hover button {
  color: #1f4515;
  outline: 2px solid #4dad33;
  background-color: #fff;
  box-shadow: 0 0px 10px 8px rgba(34, 221, 28, 0.2);
}

/**  Buscador  */
.formulario-busqueda-filtros {
  background: #fff;
  top: 10%;
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: 0 0px 4px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
}

.formulario-busqueda-filtros-box {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5%;
}

.buscador-css {
  width: 80%;
  max-width: 450px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #fff;
  text-align: center;
  outline: none;
  /* letra */

  /* sombra */
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* buscador */
.icon-searh {
  display: flex;
  margin: 0 0px 0 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* texto busqueda */
.input-search-css {
  display: flex;
  margin: 0px 10px;
  width: 400px;
  height: 100%;
}

.input-search-css input {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: none;
  background-color: #fff;
  outline: none;
  font-size: 16px;
  padding: 0px 0px 0px 2px;
}

/* filtros */
.icon-filtros {
  display: flex;
  /* margin: 0 10px 0 0; */
  height: 100%;
  align-items: center;
  justify-content: center;
}

.filtro {
  display: flex;
  height: 100%;
}

.filro-options {
  max-width: 140px;
  width: auto;
  outline: none;
  appearance: none;
  border: 0;
}

.filtros-boton-style select {
  width: 100%;
  cursor: auto;
  appearance: none;
  max-width: 450px;
  height: auto;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  text-align: center;
  outline: none;
  justify-content: center;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

/* margin */

.filtros-boton-style,
.buscador-css,
.text-filtros {
  margin-bottom: 10px;
}

/* text */
.text-filtros {
  text-align: center;
  margin: 15px 0px;
  color: #11383f;
}

.text-filtros h2 {
  font-size: 20px;
}

@media screen and (max-width: 680px) {
  .contenedor-cursos {
    margin: 50% auto 5%;
  }

  .contenedor-card-cursos {
    max-width: 400px;
    min-width: 400px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .red {
    margin: 0 auto;
  }

  .mas-informacion {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
  }

  .contenedor-card-cursos {
    width: auto;
    flex-direction: column;
  }

  .header-cursos {
    border: none;
  }

  .descripcion-cursos {
    width: 100%;
  }

  .header-cursos h4 {
    margin: 0;
  }

  .txt {
    margin: 0;
  }

  .crear-cursos button {
    transition: 0.2s ease;
    padding: 10px 30px;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    bottom: 12%;
    right: 5%;
    background: #217a89;
    position: fixed;
    display: flex;
  }
}
