.SF-Teaminfo-Base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10% 0 0 0;
    padding: 0 20px;
}

.SF-Teaminfo-Base-Content {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.SF-Teaminfo-Base-Content-Item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}

.SF-Teaminfo-Base-Content-Item-Name {
    padding: 5px 10px;
}

.SF-Teaminfo-Base-Content-Item-Img {
    width: 100%;
    padding: 10px;
}

.SF-Teaminfo-Base-Content-Item-Img img {
    border-radius: 50%;
}

@media screen and (max-width: 680px) {

    .SF-Teaminfo-Base-Content-Item {
        width: 100%;
    }

}