*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
hr{
    margin-top: 50px;
    background-color: white;
    height: 2px;
    border: #fff solid 0px;
    border-radius: 5%;
}

footer{
    width: 100%;
    background: #e6f1e2;
    color: #363636;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #767676;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #767676;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
    color: #767676;
}
.all-sen {
    align-items: center;
  display: flex;
  justify-content: left;
}
#lsen{
    margin: 10px;
}
.logos {
  
    padding: 10px;
    margin: 10px;
    background-color: yellow;
  }


.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin: 0 0 0 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #4dad33;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: white;
}

.copyright a{
    text-decoration: none;
    color: #363636;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: white;
}



@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}



