.TopBar-SF, .User-Home {
    width: 100%;
}

.Toll-Btns-SF {
    background: green;
}

.Left-Topbar-SF {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 10%;
}

.Btn-Tolls {
    outline: solid 2px #000;
    background: #dd4576;
    padding: 10px;
    margin: 5px;
}

.-signout {
    padding: 20px;
}