.about-section {
  padding: 8% 2% 5%;
}

.about-section h1 {
  margin: 10px 0;
}

.cuadro_informacion {
  background-color: #e6f1e2;
  border: 2px solid #437f12;
  border-radius: 5px;
  color: #333;
  line-height: 1.42857143;
  margin: 2%;
  padding: 20px;
}

.cuadro_informacion ul {
  padding: 0 0 0 30px;
}

.subtitulo {
  color: #5eb319;
}

.info_text {
  margin-left: 15px;
}

.info_text p {
  margin: 20px;
  line-height: 30px;
}
