body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: #4dad33;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #37ff00;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.ancor {
    text-decoration: auto;
    color: #52952e;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 680px) {
    body {
        margin: 20% 0 0 0;
    }
}